<ion-content>
  <div class="center-items">
    <ion-title class="pre-auth-title" color="primary">Welcome to Tujia!</ion-title>
    <ion-text class="pre-auth-sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua.</ion-text>
    <ion-item-group class="auth-btns">
      <ion-button [routerLink]="['/register']" class="primary-btn">Register</ion-button>
      <ion-button [routerLink]="['/login']" class="secondary-btn">Sign In</ion-button>
    </ion-item-group>
  </div>
</ion-content>